a{
    margin-right: 50px;   
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left{
    display: flex;
    align-items: center;
  }
  
  .center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  

