<div class="mypage">
<div class="carousel carousel-fade" id="myC" data-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="./assets/Images/c3.png" width="1520" height="500" alt="">
        </div>

        <div class="carousel-item">
            <img src="./assets/Images/c4.avif" width="1600" height="500" alt="">
        </div>
        
        <div class="carousel-item">
            <img src="../../assets/Images/c2.avif" width="1600" height="500" alt="">
        </div>

    </div>

    <a class="carousel-control-prev" href="#myC" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myC" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myC" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    
 </div>

 <div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-3">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Banking</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Savings and Deposits</li>
            <li>Consultancy Services</li>
            <li>Accounts and Deposits</li>
            <li>Card Services</li>
            <li>Digital Products</li>
            <li>Online Banking</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
      
    <div class="col-md-3">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Credit Facilities</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul style="margin-bottom: 61px;">
                <li>Loans and Advances</li>
                <li>Apply for retail loans</li>
                <li>Educational loan</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>

    <div class="col-md-3">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Invest and Insurance</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul style="margin-bottom: 20px;">
                <li>Life Insurance</li>
                <li>Health Insurance</li>
                <li>General Insurance</li>
                <li>Mutual Funds</li>
                <li>Depository Services</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>

    <div class="col-md-3">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Offers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul style="margin-bottom: 80px;">
                <li>Emergency credit line</li>
                <li>Guarantee Scheme</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>

<footer style="background-color: rgb(57, 83, 167);">
  <div class="copyrights p-2">
          <div class="row">
              <div class="col-md-9 text-white" style="margin-left: 40px;">
               Copyright
               <span id="cur_year"></span>
               <script>
                  var date=new Date();
                  var year=date.getFullYear();
                  document.getElementById("cur_year").innerHTML=year;
               </script>
                © My Bank | All Rights Reserved.
              </div>
              <div class="col-md text-white" id="Policy">
                <p>Privacy Policy|Terms of Use|Disclaimer</p>
              </div>
          </div>
      </div>
  </footer>

</div>